body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.logo img {
    height: 50px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    height: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.content {
    display: flex;
    max-width: 1790px;
    

    @media screen {
        max-width: 1400px
    }
}

.album-art img {
    width: 800px;
    height: auto;
    display: flex;
    margin-left: 10px;
}

.info {
    max-width: 600px;
    margin-left: 40px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.order-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c2a2a;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}

.order-button:hover {
    background-color: #5a2323;
}
